/* Global Styles */
*
{
    margin: 0px;
    padding: 0px;
    outline: none;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    box-sizing: border-box;
}

.pb0
{
    padding-bottom: 0px !important;
}

.pb10
{
    padding-bottom: 10px;
}

.pb20
{
    padding-bottom: 20px;
}

.pb30
{
    padding-bottom: 30px;
}

.pb40
{
    padding-bottom: 40px;
}

.pt20
{
    padding-top: 20px;
}

.pt30
{
    padding-top: 30px;
}

.mt20
{
    margin-top: 20px !important;
}

.mb20
{
    margin-bottom: 20px !important;
}

.mb30
{
    margin-bottom: 30px !important;
}

.mb32
{
    margin-bottom: 32px !important;
}

.mt30
{
    margin-top: 30px !important;
}

.mt40
{
    margin-top: 40px !important;
}

.mt50
{
    margin-top: 50px !important;
}

.mb40
{
    margin-bottom: 40px;
}

.caps
{
    text-transform: uppercase;
    
}

.bold
{
    font-weight: 600;
}

.flexspread
{
    display: flex;
    justify-content: space-between;
    height: 12.5vh;
    width: 95vw;
    align-items: center;
    margin: 0px auto;
}

.logo
{
    display: flex;
    align-content: center;
    color: #000000;
    background-color: rgba(255,255,255,0.85);
    padding: 6px 10px;
    text-decoration: none;
    font-size: 14px;
}

.logohome
{
    display: flex;
    align-content: center;
    color: #000000;
    background-color: rgba(190,214,179,0.85);
    padding: 6px 10px;
    text-decoration: none;
    font-size: 14px;
}

.logo:focus
{
    background-color: #BED6B3;
}

.fancy
{
    font-family: 'Petit Formal Script', cursive;
    font-size: 20px;
}

.font600
{
    font-weight: 400;
}

.fullwidth
{
    width: 100%;
}

/* Navigation */

#toggler
{
    width: 22px;
    height: 22px;
}

.togglerbtn
{
    background: transparent;
    margin-right: 10px;
}

.menu-links
{
    display: none;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 10px 0px;
    position: absolute;
    top: 12.5vh;
    padding-top: 0px;
    margin-top: 10px;
    justify-content: center;
    /*  */
    flex-wrap: wrap;
}

.menu-links a:last-child
{
    margin-top: 10px;
}

.menu-links a,
.menu-links p
{
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 4px;
    letter-spacing: 1px;
    margin: auto 8px;
    width: min-content;
    color: #000000;
    outline: none;
}

.menu-links a:focus,
.menu-links p:focus
{
    color: #ffffff;
    background-color: #BED6B3;
}

.logo:hover, .logohome:hover
{
    background-color: #BED6B3;
    color: #ffffff;
}

.showblk
{
    display: flex;
}

.hide
{
    display: none !important;
}

.heading
{
    display: block;
}

/* Mobile Navigation Screen */


.nav-wrap {
    display: flex;
    height: 60vh;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-image: url("/homepg.jpeg");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.mobile-nav-container
{
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    display: flex;
    top: -100vh;
    transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.mobile-menu-links-section
{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    /* justify-content: space-between; */
}

.mobile-menu-logo-section
{
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 12.5vh;
}

.mobile-menu-close-btn
{
    background-color: transparent;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.mobile-menu-links-container
{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#service-submenu-trigger-close, #about-submenu-trigger-close {
    display: none;
}

.mobile-nav-services-submenu-container, .mobile-nav-about-submenu-container
{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    width: 85%;
    transition: height 1s ease;
    transition-delay: 0s;
    height: 0px;
    z-index: -1;
}

.mobile-nav-services-submenu, .mobile-nav-about-submenu
{
    border-top: 2px solid rgb(204, 204, 204);
    width: 100%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    transition: top 0.5s ease, opacity 0.5s ease;
    position: relative;
    opacity: 0;
}

.mobile-nav-services-submenu-cta, .mobile-nav-about-submenu-cta

{
    text-decoration: none;
    padding: 10px 5px;
    color: rgb(0, 0, 0);
    font-size: 11px;
    width: 95%;
    text-align: right;
    margin-right: 1%;
    letter-spacing: 5px;
    background-color: transparent;
    text-transform: uppercase;
}

.nav-link-cta
{
    text-decoration: none;
    padding: 10px 5px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: min-content;
    text-align: right;
    margin-right: 5%;
    letter-spacing: 5px;
    background-color: transparent;
}

.nav-link-book-now-cta
{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    width: fit-content;
    text-align: right;
    margin-right: 5%;
    letter-spacing: 5px;
    background-color: transparent;
    padding: 10px;
    border: 2px solid rgb(190, 214, 179);
}

.nav-link-cta-container
{
    border-top: 2px solid rgb(204, 204, 204);
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.book-now-cta-container
{
    border-top: none !important;
}

.mobile-menu-links div
{
    border-top: 2px solid rgb(204, 204, 204);
    width: 100%;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.socials-logo-container
{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    -webkit-box-align: center;
    align-items: center;
    width: 60%;
    height: min-content;
    -webkit-box-pack: center;
    justify-content: center;
    max-width: 330px;
    margin: 30px 0px;
}

.socials-linkout-icon-container
{    
    width: 100%;
    margin: 5px auto;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: right;
}

.socials-linkout-icon-img
{
    width: 30px;
    height: 30px;
}

.socials-handle
{
    margin-top: 15px;
}

.mobile-menu-socials-section
{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.socials-handle-link
{
    letter-spacing: 1px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

/* Mobile Navigation Screen */

@media screen and (min-width: 320px) and (orientation: landscape)
{
    .showblk
    {
        display: flex;
    }

    .menu-links
    {
        flex-direction: row;
        right: 0;
        align-items: flex-end;
        width: 95vw;
        margin: 5px 2.5vw;
        padding: 0px;
        justify-content: space-evenly;
    }

    .menu-links a,
    .menu-links p
    {
        margin: 4px 0px;
        padding: 3px;
    }

    body
    {
        -webkit-text-size-adjust: none;
    }
}

@media screen and (max-width: 900px) and (orientation: landscape)
{

    .portrait
    {
        /* flex-direction: column-reverse; */
        flex-direction: column;
    }

    #homer
    {
        margin-top: 0px !important;
    }

    .widemb
    {
        margin-bottom: 20px !important;
    }

    #anotherbanner
    {
        margin-top: 0px !important;
        height: 60vh !important;
        background-position: 0% 85% !important;
    }

    .hometoggler
    {
        content:url('/burger.svg') !important;
    }
}

/* Footer */

.footerformat
{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 0px auto;
    flex-direction: column-reverse;
}

.footer
{
    display: block;
    height: fit-content;
    border-top: 2px solid #BED6B3;
    grid-row: 3;
}

.mailing
{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 30px;
}

.socials
{
    display: flex;
    height: 100%;
    flex-direction: column;
    font-size: 14px;
    justify-content: center;
    align-items: flex-end;
}

.socials a
{
    margin: 5px 0px;
    text-decoration: none;
    color: #000000;
}

.fb a:last-of-type, .instagram a:last-of-type
{
    width: fit-content;
    text-align: right;
    display: flex;
    align-items: center;
}

.instagram a:first-of-type, .fb a:first-of-type
{
    width: 30px;
    height: 30px;
}

/* .instagram, .fb
{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
} */

.instagram img, .fb img
{
    width: 30px;
    height: auto;
    margin-right: 2vw;
}

#pyschology
{
    width: 50%;
    height: 55px;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    background-image: url(/Verified_By_PT.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.pyschology img
{
    width: 55%;
    height: auto;
}

.pyschology a
{
    margin: 0px auto;
    width: fit-content;
}

.balloons
{
    background-color: #ffffff;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 15px;
}

#backtotop
{
    background-image: url(/backtotop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 60px;
    height: 25px;
    background-color: rgba(255,255,255,0);
    margin-bottom: 30px;
    transition: all 0.5s ease-in;
    cursor: pointer;
}


#backtotop:hover
{
    transform: scale(1.4);
}

/* PENDING - Dynamic back to top */
#backToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* background-color: rgba(190, 214, 179,1); */
    /* color: #fff; */
    width: 40px;
    height: 40px;
    /* border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out; */
}
  
#backToTopBtn:hover {
    background-color: #2980b9;
}

.hidden {
    display: none;
}

/* home */

#homer
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    margin-top: 20px;
}

#stretchhome
{
    display: none;
}

#tagger
{
    font-size: 20px;
    letter-spacing: 8px;
    color: rgb(158, 187, 145);
    /* letter-spacing: 4px; */
    /* color: rgba(190, 214, 179,1);
    font-weight: 100; */
}

.navhome .menu-links a,
.navhome .menu-links p
{
    background-color: rgba(190, 214, 179, 0.85);
}

.navhome .menu-links
{
    margin-top: 0px;
}

.bookwow
{
    display: none !important;
}

.liable
{
    font-size: 13px;
    width: 90%;
    margin: 0px auto;
    padding-bottom: 20px;
    text-align: center;
}

#faqlink
{
    text-decoration: none;
    columns: inherit;
    letter-spacing: inherit;
    font-weight: inherit;
    font-family: inherit;
}

.homebanner
{
    text-decoration: none;
    text-transform: uppercase;
    /* font-family: 'Petit Formal Script', cursive; */
    color: #000000;
    letter-spacing: 6px;
    font-size: 13px;
}

#homebanner2
{
    background-image: url(/servicestree.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    margin: 40px 0px;
}

.homebanner3
{
    text-decoration: none;
    text-transform: uppercase;
    /* font-family: 'Petit Formal Script', cursive; */
    color: #000000;
    letter-spacing: 4px;
    font-size: 12px;
}

#homebanner2 p 
{
    background-color: rgba(255,255,255,0.85);
    color: #000000;
    padding: 0px 5px;
    text-align: center;
    letter-spacing: 4px;
    margin: 0px auto;
    width: 100%;
    font-size: 13px;
}

#anotherbanner
/* {
    background-image: url(/homepage.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin: 40px 0px;
} */
{
    background-image: url(/homepage.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin: 40px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#anotherbannerocd
/* {
    background-image: url(/consult.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin: 40px 0px;
} */
{
    background-image: url(/consult.jpeg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    margin: 40px 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#pp
{
    background-color: rgba(190, 214, 179, 0.85);
}


#pp:hover a
{
    color: #ffffff;
}

.homedivert
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90%, 1fr));
    gap: 30px 0px;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card a 
{
    margin-top: 20px;
}

/* Page Layout */

.label
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Petit Formal Script', cursive;
    text-transform: none;
    background-color: #BED6B3;
    color: #ffffff;
    font-size: 34px;
    text-align: center;
}

.contactlabel
{
    flex-direction: column;
}

body
{
    display: flex;
    flex-direction: column;
}

.content
{
    display: block;
    min-height: 40vh;
    height: fit-content;
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

.noltrspc
{
    letter-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
}

.banner
{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner p
{
    background-color: rgba(255,255,255,0.85);
    padding: 15px;
    text-align: center;
    width: auto;
    letter-spacing: 4px;
}

.banner img
{
    width: 100%;
    height: auto;
}

/* Our Team Page */

.links
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
}

.links ul
{
    width: min-content;
    padding: 0;
    list-style: none;
}

.links ul a 
{
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}

.links li
{
    text-align: center;
    margin-top: 10px;
    border-bottom: 2px solid rgba(190, 214, 179,1);
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.links li:hover
{
    color: rgba(190, 214, 179,1);
}

.links li:last-of-type
{
    margin-bottom: 20px;
}

.pageback
{
    background-color: #ffffff;
    background-image: none !important;
}

.portrait
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.ANKA-portrait-image
{
    background-image: url(/ANKA_Headshot.png);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.ANKA-portrait-text
{
    margin-bottom: 30px;
}

@media(min-width: 600px)
{
    /* .ANKA-portrait-image
    {
        margin-left: 0;
        margin-right: 0;
    } */

    .ANKA-portrait-text
    {
        margin-bottom: unset;
    }
}

.aboutportraits
{
    flex-direction: column;
}

#ownertext
{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3px;
    margin-top: 12px;
}

.ownertexts
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Mobile */
.team_thumbnails
{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

#angie_thumb
{
    max-width: 400px;
    max-height: 400px;
    height: 100%;
    padding: 42px 0px;
    margin: 0px auto;
    width: 50%;
    background-image: url(/ang_thumbnail.jpeg);
}

#maria_thumb
{
    max-width: 400px;
    max-height: 400px;
    height: auto;
    border-radius: 50%;
    padding: 42px 0px;
    margin: 0px auto;
    width: 55%;
    background-image: url(/maria_thumbnail.jpeg);
}

#moonsun_thumb
{
    max-width: 400px;
    max-height: 400px;
    height: 100%;
    padding: 42px 0px;
    margin: 0px auto;
    width: 50%;
    background-image: url(/moonsun_thumbnail.jpeg);
}

.team_portrait
{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;   
}

.team_portrait img
{
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    margin: 0px auto;
}

.portrait p,
.portrait-reverse p
{
    font-size: 22px;
    letter-spacing: 1px;
}

.portrait-reverse img,
.portrait img
{
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 22px 0px;
    max-width: 400px;
    max-height: 400px;
    margin: 0px auto;
}

.abouttime
{
    border-bottom: 2px solid #BED6B3;
    width: fit-content;
    margin: 15px auto;
    padding-bottom: 5px;
    font-size: 20px;
}

.aaa
{
    margin-bottom: 10px;
}

.aaaL
{
    width: auto;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
    
}

.aaaL li
{
    margin: 10px auto;
    text-align: left;
    padding-left: 20px;
}

#bigabout
{
    display: none;
}

#aboutbanner
{
    background-image: url(/florals.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 40px;
}

#aboutBannerBottom
{
    background-image: url(/floral.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 40px;
}

#aboutBannermid
{
    background-image: url(/bannertop.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 40px;
}

#aboutBannermiddle
{
    background-image: url(/eucs.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 40px;
}

#about-banner-cta
{
    display: block;
    width: min-content;
}

#aboutmidbanner
{
    background-image: url(/aboutmidbanner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 20px;
    margin-top: 20px;
}

#abouttopbanner
{
    background-image: url(/bannertop.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 20px;
    margin-top: 20px;
}

#moonsunbookingbanner
{
    background-image: url(/floral.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 20px;
    margin-top: 20px;
}

#aboutbanbot
{
    background-image: url(/aboutbanbot.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-bottom: 20px;
    margin-top: 20px;
}
/* Contact page */

.contact_form
{
    width: 100%
}

.contactregistration
{
    margin: 20px auto;
}

.font22
{
    font-size: 22px;
    letter-spacing: 1px;
}

.brandborder
{
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    color: #000000;
    border:3px solid #BED6B3;
    width: 100%;
    text-transform: uppercase;
}

.contactimg
{
    max-width: 900px;
    background-image: url(/contact_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 62vh;
    display: block;
    margin-bottom: 40px;
}

.teamimgang
{
    max-width: 900px;
    background-image: url(/portrait.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 62vh;
    display: block;
    margin-bottom: 40px;
}

.resources
{
    /* max-width: 900px; */
    background-image: url(/resources.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 42vh;
    display: block;
}
